.container {

    text-align: center;
    min-width: 100%;
}


/* inspiration citation: https://css-tricks.com/snippets/css/typewriter-effect/" 
   gives the typing effect for the beginning sentence
*/
.typingIt p {
    overflow: hidden; 

    margin: 0 auto; 
    letter-spacing: .20em; 

    border-right: .30em solid;
    white-space: nowrap;

    animation: typer 3.5s steps(40, end), blinking .75s step-end;
  }
  
  @keyframes typer {
    from { width: 0 }
    to { width: 100% }
}

.view {
   /* background-image: url('../images/road.png');  */
    background-color: lightblue;
    background-size: cover;
}

.navbar-container {
    height: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-nav a {
    margin-top: 25px; 
    padding-left:30px;
    padding-right:30px;
}


.ListContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
}

.lists {
    width: 15%;
    border: 2px solid #86ddf8;
    border-radius: 3px;
    flex-shrink: 2;
}

.sortingContainer {
    margin-top: 20px;
}

.search {
    margin-left: auto;
    width: 45%;
    border: 2px solid #86ddf8;
    border-radius: 3px;
}

.clothes {
    flex:1;
    width: fit-content;
    flex-direction: column;
}

footer {
    margin-left: 2rem;
}


  .result-image {
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    overflow: hidden;
    height: 325px !important;
    width: 250px !important;
  }
  
  .toggle-button {
    display: none;
    position: fixed;
    font-size: 15px;
    height: 35px;
    z-index: 1;
    bottom: 5rem;
    opacity: 1;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  

.overlay-title {
    color: white;
    margin-top: 0px;
  }
  
  .ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  .ih-item a:hover {
    text-decoration: none;
  }
  
  .ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .ih-item.square.effect6 {
    overflow: hidden;
  }
  
  .ih-item.square.effect6.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
  }
  
  .ih-item.square.effect6.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
  }
  
  .ih-item.square.effect6 .img,
  .ih-item.square.effect6 .info {
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  .ih-item.square.effect6 .info {
    background: #333;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
  }
  
  .ih-item.square.effect6 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #111;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  .ih-item.square.effect6 a:hover .img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .ih-item.square.effect6 a:hover .info {
    visibility: visible;
    opacity: 1;
  }
  
  .ih-item.square.effect6.top_to_bottom .info h3 {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  .ih-item.square.effect6.top_to_bottom a:hover .info h3 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  
  #number, #mailLink{
    color: navy;
}